/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
.env
.env.backup
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
vendor/*
/vendor/*
error_log
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/firebase/*