.toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 24px;
    margin-bottom: 0;
}
.toggle-switch input {display:none;}
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff4747;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .switch-slider {
  background-color: #57b657;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.switch-slider:after {
 content: attr( data-off );
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 60%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .switch-slider:after {  
  content: attr( data-on );
  left: 40%;
}
/*--------- END --------*/

.ti-reload{
  animation: ti-reload 2s infinite linear;
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #2125298f;
}

.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 25px;
  height: 25px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.loading-wrapper {
  font-size: 12px;
  color: #fff;
}

.dropify-infos-inner{
  display: none;
}
.input-group-addon {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 9;
  cursor: pointer;
}
.show_hide_password input {
  padding-right: 40px;
  padding-left: 15px
}
.input-group-addon i {
  font-size: 14px;
  color: gray;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  cursor: pointer;
  font-size: 50px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}

/*  
  vikram: for buyer link copy
  date: 19-06-2023
*/

.copy_link:before {
   content: '';
   display: none;
   position: absolute;
   z-index: 9998;
   top: 35px;
   left: 45%;
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-bottom: 5px solid rgba(0, 0, 0, .72);
}
 .copy_link:after {
   content: 'Copy to Clipboard';
   display: none;
   position: absolute;
   z-index: 9999;
   top: 40px;
   left: 15%;
   width: 114px;
   height: 36px;
   color: #fff;
   font-size: 10px;
   line-height: 36px;
   text-align: center;
   background: rgba(0, 0, 0, .72);
   border-radius: 3px;
}
 .copy_link:hover:before, .copy_link:hover:after {
   display: block;
}
 .copy_link:active, .copy_link:focus {
   outline: none;
}
 .copy_link:active:after, .copy_link:focus:after {
   content: 'Copied!';
}
 

/*------------- 30-06-2023 ----------------- */
button.btn, a.btn {
    padding: 8px 15px;
    border-radius: 5px !important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 16px !important;
}
.card .card-body {
    padding: 20px;
    border: 1px solid #EAECEB;
    border-radius: 5px;
}
.card .card-title, .card .card-title h4 {
    color: #212529;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 700;
}
.table-design th h4 {
    margin-bottom: 0;
    font-family: 'Barlow', sans-serif;
}
.table-design th, .table-design td, .table-design td p {
    padding: 15px 0;
    font-size: 17px !important;
    margin: 0;
}
.btn-fill {
    color: #fff;
    border: 2px solid;
    line-height: 26px;
    transition: all 0.4s ease-in-out;
    text-transform: capitalize;
    box-shadow: none !important;
    max-width: 200px;
    width: 100%;
}
.btn-dark-blue{
  border-color: #0A2540;
  background: #0A2540;
}
.btn-dark {
    color: #ffffff;
    background: #0A2540;
    border-color: #0A2540;
}
.btn-blue{
  background: #3F53FE;
  border-color: #3F53FE;
}
.btn-dark-blue:hover{
  color: #0A2540;
  background: transparent;
}
.btn-blue:hover {
    color: #3F53FE;
    background-color: transparent;
}
.form-control {
    height: 50px;
    border: 1px solid #E1E3E7 !important;
    padding: 13px 15px 13px 15px !important;
    color: #464B70 !important;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    box-shadow: none !important;
}

.switch-slider:after{
  font-size: 12px;
}
.form-group label {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
.file-input {
    display: block;
    text-align: left;
    background: #fff;
    position: relative;
    border-radius: 5px;
    border: 1px solid #E1E3E7 !important;
    padding: 13px 15px 13px 15px !important;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: #3F53FE;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}
.card-body form {
    padding: 30px 20px;
    background: #F5F7F9;
    border-radius: 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice{
    border: 0 !important;
    color: #464B70 !important;
    background: #F5F7F9 !important;
    border-radius: 5px !important;
    padding: 3px 10px !important;
    line-height: 22px;
    cursor: pointer;
    margin-top: 10px !important;
}
span.select2-selection.select2-selection--multiple {
    min-height: 50px;
    color: #464B70 !important;
    font-size: 14px;
    padding-right: 15px;
    border-color: #e1e3e7 !important;
    padding-left: 6px;
}
.select2-container--classic .select2-search--inline .select2-search__field{
      color: #464B70 !important;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    box-shadow: none !important;
}
span.select2-selection.select2-selection--multiple .select2-search__field {
    color: #464B70 !important;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    height: 32px;
    line-height: 36px;
}
span.select2-selection.select2-selection--multiple  span.select2-search.select2-search--inline{
  
}
.select2-container--classic .select2-results__option--selectable.select2-results__option--selected {
    background-color: #F5F7F9 !important;
    color: #464B70 !important;
}
.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3f53fe !important;
    color: #fff !important;
}
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #e1e3e7 !important;
}
.radio-block-group {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #E3EEF3;
    padding: 8px 18px 10px;
    display: flex;
    flex-wrap: wrap;
}
.radio-block-group > label {
    margin-bottom: 4px;
    max-width: 100%;
    flex: 100%;
}
.radio-block-group .label-container label{
  margin-bottom: 0;
}
.label-container {
    display: flex;
    align-items: center;
}
.label-container:not(:last-child) {
    margin-right: 14px;
}
.radio-block-group input[type="radio"] {
    appearance: none;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border: 1px solid #E1E3E7;
    border-radius: 100%;
    position: relative;
    margin-right: 8px;
}
.radio-block-group input[type="radio"]:checked:before{
    position: absolute;
    content: '';
    background: #3F53FE;
    border-radius: 100%;
    width: 10px;
    min-width: 10px;
    height: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.table-data p {
    font-size: 16px;
}

/*03-07-2023*/
.table-cell{
    vertical-align: middle;
}
.card-title .btn-header {
    font-family: 'Nunito Sans', sans-serif;
    padding: 11px 17px;
    display: flex;
    align-items: center;
    margin-right: 0 !important;
}
.card-title .btn-header i {
    margin-right: 6px !important;
}
.search-table-data > div > .relative > .flex {
    margin-bottom: 20px !important;
    display: block !important;
}
.search-table-data > div > .relative > .flex > .flex {
    position: relative;
    display: block;
    /* max-width: 350px; */
}
.sidebar .nav.sub-menu .nav-item .nav-link{
    padding: 0.7rem 2rem;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #ffffff;
    background: #121639;
}
.sidebar .nav.sub-menu .nav-item::before{
    z-index: 9;
}
.sidebar .nav.sub-menu {
    padding: 5px 20px 20px;
}
.search-table-data > div > .relative > .flex > .flex input {
    padding: 16px 37px 14px 48px !important;
}
.sidebar .nav.sub-menu .nav-item::before{
    margin-left: 15px;
}
.top-box-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card-top-box-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 10px;
}
.select2-container{
    width: 100% !important;
}
.profile-img-block img {
    object-fit: cover;
    margin: 0 auto;
    height: 100px;
}
.search-table-data > div > .relative > .flex > .flex [wire\:loading] {
    margin-left: auto;
    position: absolute;
    right: -30px;
    top: -27px;
}
.search-table-data .overflow-x-scroll {
    overflow-x: auto !important;
}

/*------ 04-07-2023 ----------*/
/*dropdown user*/
.img-user {
    background: #F5F7F9;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-user{
    margin-right: 12px;
}
.welcome-user span {
    display: block;
    text-align: left;
}
.user-dropdown .dropdown-toggle::after{
    display: none;
}
.user-dropdown button {
    padding: 0;
    border: 0;
    display: flex;
    align-items: flex-end;
}
.welcome {
    font-family: 'Nunito Sans', sans-serif;
    color: #414136;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 9px;
    margin-bottom: 6px;
}
.dropdown-toggle{
    box-shadow: none !important;
}
.user-name-title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    font-family: 'Barlow', sans-serif;
}
.user-dropdown .dropdown-menu {
    border-radius: 10px;
    border: 0 !important;
    min-width: 264px;
    width: 100%;
    padding: 5px 0 5px !important;
    box-shadow: 15px -2px 40px rgba(4, 12, 30, 0.08) !important;
    margin-top: 0 !important;
    right: -28px !important;
    left: unset !important;
    transform: none !important;
    top: 43px !important;
    position: absolute;
}
.dropdown-data {
    display: flex;
    align-items: center;
}
.user-dropdown .dropdown-menu:before {
    position: absolute;
    content: '';
    clip-path: path('M12.9902 0L25.9806 8.2716H-0.000146866L12.9902 0Z');
    right: 19px;
    width: 26px;
    height: 9px;
    top: -8px;
    background: #fff;
}
.user-dropdown .arrow-icon {
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.user-dropdown .arrow-icon svg {
    width: 10px;
    height: 6px;
}
.dropdown-toggle.show .arrow-icon {
    transform: rotate(0deg);
}
.user-dropdown .dropdown-menu li .dropdown-item {
    padding: 13.5px 0;
    border-bottom: 1px solid #DDDDE9;
    color: #121639;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
}
.user-dropdown .dropdown-menu li .dropdown-item img {
    margin-right: 12px;
    width: 18px !important;
    height: 18px !important;
    border-radius: unset !important;
}
.user-dropdown .dropdown-menu li:last-child a{
    border-bottom: 0;
}
.user-dropdown .dropdown-menu li .dropdown-item:hover{
    background: transparent;
    color: #0A2540;
    font-weight: 600;
}
.user-dropdown .dropdown-menu li {
    padding: 0 15px;
    position: relative;
}
.user-dropdown .dropdown-menu li:hover:before,
.user-dropdown .dropdown-menu li.active:before{
    position: absolute;
    content: '';
    height: 25px;
    width: 4px;
    background: #3F53FE;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 0px 20px 20px 0;
}
.user-dropdown .dropdown-menu li.active .dropdown-item {
    background: transparent;
}
.navbar{
    border-bottom: 1px solid #EAECEB;
}

/*--- dashboard redesign ---------*/
.card{
    border-radius: 5px;
}
.card-light-purple{
    background: #F4EBFF;
}
.card-light-green{
    background: #D8FFE8;
}
.heading-card {
    margin-bottom: 17px;
    line-height: 12px;
    color: #121639;
}
.box-count {
    font-size: 25px;
    color: #121639;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 0;
}
footer.footer {
    background: transparent;
    border-top: 1px solid #EAECEB;  
    padding: 15px 0;
    text-align: center;
}
.copyright-text {
    color: #464B70;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
}
.card-body-icon {
    width: 74px;
    height: 74px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mt-30{
    margin-top: 30px;
}
.table-card-box {
    border-radius: 5px;
    border: 1px solid #EAECEB;
}
.table-card-box .card-header {
    font-size: 18px;
    background: transparent;
    border-bottom: 1px solid #EAECEB;
    border-radius: 0;
    font-family: 'Barlow', sans-serif !important;
    color: #121639;
    font-weight: 600;
    padding: 20px;
}
.table.table-bordered, .table-bordered th, .table thead th {
    border-color: #EAECEB;
}
.card-box-table thead tr th {
    border-bottom: 1px solid #EAECEB !important;
    padding: 16px 15px;
    border: 0;
    position: relative;
    font-size: 14px;
    font-family: 'Barlow', sans-serif !important;
    color: #121639;
    font-weight: 600;
}
.card-box-table td {
    border: 0;
    font-size: 14px;
    color: #464B70;
    padding: 14px 15px;
    width: 50%;
    font-weight: 400;
    position: relative;
}
.card-box-table tbody tr:nth-child(even) {
    background: #F5F7F9;
}
.purchased {
    padding: 4px 9px;
    background: #CDFCE0;
    color: #00AC47;
    font-size: 12px;
    font-family: 'Barlow', sans-serif !important;
    font-weight: 500;
    border-radius: 24px;
    text-transform: capitalize;
    display: inline-block;
    /*margin-left: 15px;*/
}
.side-by-side-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-box-table thead tr th:not(:last-child):before,
.card-box-table tbody tr td:not(:last-child):before {
    position: absolute;
    content: '';
    right: 0;
    background: #EAECEB;
    height: 22px;
    width: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
}
/*--------- profile -----------*/
.inner-page-title{
    color: #212529;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 700;
}
.profile-page .form-control {
    padding-left: 57px !important;
}
.input-set{
    position: relative;
}
.icon-left {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    padding-right: 8px;
    border-right: 1px solid rgba(70, 75, 112, 0.3);
    height: 17px;
    line-height: 11px;
    margin: auto 0;
}
.profile-image-change {
    display: flex;
    align-items: center;
}
.right-content-profile {
    padding-left: 20px;
    max-width: calc(100% - 100px);
    flex: calc(100% - 100px);
}
.right-content-profile h5 {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.change {
    border: 1px solid #3f53fe;
    color: #3f53fe;
    background: #fff;
}
.left-imag-col{
    max-width: 100px;
    flex: 100px;
}
.left-imag-col img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.form-icon-password {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    height: 18px;
    margin: auto 0;
    line-height: 0;
}
.form-icon-password:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 24px;
    background: #464B70;
    transform: rotate(-41deg);
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.eye-open:before{
    display: none;
}
.changepassword-block .form-control {
    padding-right: 50px !important;
}
.stretch-card > .card a:hover{
    text-decoration: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*--------- Media Query ----------*/
@media (max-width:991px){
     .card .card-title h4{
        float: unset !important;
     }
     .img-box,
     .stretch-card > .card,
     .changepassword-block{
        margin-top: 30px;
     }
}

@media (max-width:767px){
    .card-top-box-item{
        justify-content: flex-end;
    }
}
@media (max-width:575px){
    .card .card-body{
        padding: 15px;
    }
    .card-body form button.btn {
        margin-bottom: 9px;
    }
    .content-wrapper{
        padding: 20px;
    }
}
@media (max-width:450px){
    .card-top-box-item {
        gap: 5px;
        flex-direction: column-reverse;
        width: 100%;
    }
    .card-title .btn-header{
        max-width: 100%;
        flex: 100%;
        text-align: center;
        justify-content: center;
    }
    .welcome-user,
    .user-dropdown .arrow-icon{
        display: none;
    }
    .img-user{
        margin-right: 0;
    }
}


.badge-counter {
    position: relative;
    top: -20px;
    left: -20px;
    border: 1px solid black;
    border-radius: 50%;
}


body .select2-container--default .select2-selection--single {
    height: 50px;
    padding-left: 4px;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
}

body .datepicker.datepicker-dropdown{
    max-width: min-content !important;
}
body .datepicker .datepicker-years .table-condensed{
    margin: auto;
}

/* 06-09-2023 */
.stretch-card .form-group .note-frame.panel.panel-default {
    background: #fff;
}
.stretch-card .form-group .note-frame.panel.panel-default .dropdown-toggle::after {
    display: none;
}
.stretch-card .form-group .note-frame.panel.panel-default .panel-heading.note-toolbar {
    border-bottom: solid 1px #ddd;
}