/**************** DARK MODE PAGES CSS ***********************/

body.dark {
  background-color: #2f2f2f !important;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #fff !important;
}
body.dark .dashboard-header {
  background: #1f1f1f;
  border-bottom: 1px solid #2f2f2f !important;
}
body.dark .footer-main {
  background: #1f1f1f;
  border-top: 1px solid #2f2f2f !important;
}
body.dark .back-block,
body.dark .card-box,
body.dark .contact-update .contact-update-item a .icon,
body.dark .img-user,
body.dark .upload-buyer {
  background: rgb(255 255 255 / 10%);
}
body.dark .back-block .center-head,
body.dark .upload-buyer p {
  color: #fff;
}
body.dark .personal-information,
body.dark .contact-detail,
body.dark .contact-desc-box {
  background: #2f2f2f;
  color: #cacaca;
}
body.dark .personal-information h3 {
  color: #fff;
}
body.dark p {
  color: #cacaca;
}
body.dark .contact-update .contact-update-item a,
body.dark .user-name-title {
  color: #fff;
}
body.dark .contact-update {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .footer-main .copyright-text,
body.dark .footer-main .copyright-text a {
  color: #fff;
}
bo00000004dy.dark .profile-data-content h3 {
  color: #fff;
}
body.dark .active-inactive button,
body.dark .field-box button,
body.dark .otp-digit .otpnumb,
body.dark .card-box-blocks .form-control {
  background: rgb(255 255 255 / 10%) !important;
  border-color: rgb(255 255 255 / 20%) !important;
  color: #fff !important;
}
body.dark .active-inactive button .userimg,
body.dark .field-box button .commentic {
  border-color: rgb(255 255 255 / 20%);
}
body.dark .dropdown-arr svg path,
body.dark .user-dropdown .arrow-icon svg path {
  stroke: #fff;
}
body.dark .account-check .btn {
  background: rgba(25, 180, 0, 0.15);
}
body.dark .component-group .dropdown-menu,
body.dark .component-group .dropdown-menu:before,
body.dark .user-dropdown .dropdown-menu,
body.dark .user-dropdown .dropdown-menu:before {
  background: #2f2f2f;
  box-shadow: 2.01px -0.934153px 18.6831px rgba(4, 12, 30, 0.2);
}
body.dark .component-group .dropdown-menu li .dropdown-item,
body.dark .user-dropdown .dropdown-menu li .dropdown-item {
  border-color: rgb(255 255 255 / 20%);
  color: #fff;
}
body.dark .component-group .dropdown-menu li:hover:before,
body.dark .component-group .dropdown-menu li.active:before,
body.dark .user-dropdown .dropdown-menu li:hover:before,
body.dark .user-dropdown .dropdown-menu li.active:before {
  background: #fff;
}
body.dark .user-dropdown .dropdown-menu li .dropdown-item img,
body.dark .form-icon img,
body.dark .form-icon-password img,
body.dark .center-content img,
body.dark .header-logo img {
  filter: invert(100%) sepia(91%) saturate(32%) hue-rotate(199deg)
    brightness(140%) contrast(109%);
  mix-blend-mode: luminosity;
}
body.dark .profile-varification {
  background: #444;
}
body.dark .card-box-blocks {
  background: #1f1f1f !important;
}
body.dark .card-box-blocks label,
body.dark .otp-digit .otpnumb,
body.dark .card-box-blocks .form-control::placeholder,
body.dark .application-process h3,
body.dark .btn-outline,
body.dark .file-upload-choosen .file-select .file-select-name {
  color: #fff !important;
}

body.dark .file-upload-choosen .file-select,
body.dark .radio-block-group {
  background: rgb(255 255 255 / 10%) !important;
  border-color: rgb(255 255 255 / 20%) !important;
}

body.dark .profile-varification .nav-item .nav-link {
  background: #1f1f1f;
  color: #fff !important;
}

body.dark .profile-varification .nav-item:not(:last-child) .nav-link {
  border-color: rgb(255 255 255 / 20%) !important;
}
body.dark .application-process {
  background: rgb(255 255 255 / 10%) !important;
}
body.dark .label-container span {
  color: #fff;
}
body.dark .change-password-form {
  border-top-color: rgb(255 255 255 / 20%) !important;
}
body.dark .back {
  color: #fff;
}
body.dark .back svg path {
  stroke: #fff;
}

body.dark .upload-photo,
body.dark .file-upload {
  border-color: rgb(255 255 255 / 20%) !important;
}
body.dark .file-upload {
  color: #fff;
}
body.dark .containers .imageWrapper {
  background: #2f2f2f;
}
body.dark .select2-container--default .select2-selection--single,
body.dark .select2-container--default .select2-selection--multiple {
  background: rgb(255 255 255 / 10%) !important;
  border-color: rgb(255 255 255 / 20%) !important;
}

body.dark
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #fff !important;
}

/************ LOGIN ****************/

body.dark .account-in,
body.dark .grid-block-view,
body.dark .boost-box-block-item {
  background: #1f1f1f;
  border-color: rgb(255 255 255 / 20%) !important;
}

body.dark .form-control,
body.dark .form-control-form {
  background: rgb(255 255 255 / 10%) !important;
  border-color: rgb(255 255 255 / 20%) !important;
  color: #fff !important;
}

body.dark .form-control::placeholder,
body.dark .form-control-form::placeholder,
body.dark .boost-title,
body.dark .boost-box-block-item .postion,
body.dark .priceby {
  color: #fff !important;
}

body.dark .btn-fill:hover {
  border-color: #fff;
  color: #fff;
}
body.dark .form-icon {
  border-color: #fff;
}
body.dark .slider,
body.dark .css-13cymwt-control,
body.dark .css-13cymwt-control,
body.dark .css-t3ipsp-control {
  background-color: #363636 !important;
  border-color: rgb(255 255 255 / 20%) !important;
}
body.dark .notifyinfo {
  background-color: #363636 !important;
  color: #fff !important;
}
body.dark .account-in label,
body.dark .toggle-heading,
body.dark .link-pass,
body.dark .account-now,
body.dark .account-now a,
body.dark .upload-file,
body.dark .upload-buyer p b,
body.dark .welcome,
body.dark .watch-video .title,
body.dark .copy-link,
body.dark .upload-single-data .drag-file-area label .browse-files-text,
body.dark .back-block .page-out,
body.dark .property-critera-details li a,
body.dark .name-dealer,
body.dark .modal-form-main .btn-close,
body.dark .profile-account label,
body.dark .modal-form label,
body.dark .msg-passwrd {
  color: #fff !important;
}

body.dark input[type="radio"]:checked:before,
body.dark .form-icon-password:before {
  background: #fff;
}

body.dark .upload-multiple-data,
body.dark .upload-single-data,
body.dark #inviteCode.invite-page {
  background: #1f1f1f;
  border-color: rgb(255 255 255 / 20%) !important;
}
body.dark .upload-single-data .drag-file-area label .browse-files-text {
  border-color: rgb(255 255 255 / 20%) !important;
}

body.dark .watch-video,
body.dark .property-critera-block,
body.dark .modal-content,
body.dark .boost-box .card-box-inner,
body.dark .lic-detail-area,
body.dark .licenses-wrapper .upload-photo {
  background: #1f1f1f;
}

body.dark .watch-video svg path {
  stroke: #fff;
}

body.dark .critera-card {
  background: rgb(255 255 255 / 20%) !important;
}

body.dark .support-account .card-box-blocks {
  padding: 20px !important;
}
body.dark .card-box-blocks .css-1dimb5e-singleValue {
  color: #fff !important;
}
body.dark #inviteCode.invite-page input#link {
  outline: 0 !important;
  background: transparent !important;
  color: #fff !important;
}
.loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark .radio-block {
  background: #363636;
  border: 1px solid #5e5e5e !important;
}
.dark .MuiStepLabel-label {
  color: rgb(255 255 255 / 87%) !important;
  font-weight: 500;
}
body.dark button.btn.not-verified {
  background: rgb(231 231 231 / 15%);
  border-color: #6a6a6a;
}
body.dark .main-login-form .form-group input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 0px 30px #363636 !important;
}
body.dark .renew-wrapper .auto-renew,
body.dark .card-box-light .note,
body.dark .card-box-light .feature-item-title,
body.dark .card-box-light .price-pc {
  color: #ffffff;
}

body.dark .swal2-title {
  color: #000000 !important;
}
body.dark .swal2-html-container {
  color: #000000 !important;
}
body.dark .card-box-light {
  background: #1f1f1f;
}
body.dark .card-box-light .feature-item-content {
  background: rgb(255 255 255 / 10%);
  border-color: rgb(255 255 255 / 20%);
}

body.dark .payment-card {
  background-color: #444;
}
