@media screen and (min-width: 1400px)  and (max-width: 1599px){
  .modetype,
  .top_icons_list,
  .upload-buyer{
    margin-right: 15px;
  }
  .top_icons_list ul{
    gap: 6px;
  }
  .block-session>.upload-buyer{
    padding: 7px;
  }
  .header-left{
    gap: 20px;
  }
  .user-dropdown .dropdown-menu{
    right: 0 !important;
  }
}
@media (max-width: 1399px) {
  .upload-buyer {
    margin-right: 10px;
  }
  .buyers-tabs .nav-link {
    min-width: 159px;
  }
  .account-in {
    max-width: 93%;
  }
  .modetype,
  .top_icons_list{
    margin-right: 10px;
  }
  .block-session>.upload-buyer{
    padding: 7px;
  }
  .top_icons_list .mobile-header-list{
    gap: 10px;
    align-items: center;
    -webkit-align-items: center;
  }
  .header-left{
    gap: 20px;
  }
  .user-dropdown .dropdown-menu{
    right: 0 !important;
  }
}

@media (max-width: 1199px) {
  .block-fix {
    position: unset;
    margin: 0 auto 30px;
  }
  .pt-120 {
    padding-top: 50px;
  }
  .pb-block,
  .pb-120 {
    padding-bottom: 50px;
  }
  .heading-title {
    margin-bottom: 30px;
  }
  .mb-60 {
      margin-bottom: 40px;
  }
  .grid-block-view {
    padding: 25px;
  }
  .upload-multiple-data {
    padding: 20px 30px 22px;
  }
  .column--grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .watch-video {
    padding: 24px 24px;
  }
  .my-30 {
    margin: 18px 0;
  }
  .upload-buyer img,
  .upload-buyer.bg-green .upload-buyer-icon {
    margin-right: 0;
  }
  .upload-buyer.bg-green p,
  .welcome-user {
    display: none;
  }
  .dashboard-header {
    padding: 15px 0;
  }
  .custom-divide .column-6 {
    width: 100% !important;
  }
  .custom-divide .column-3 {
    width: 50% !important;
  }
  .custom-divide .column-6 {
    order: 1;
  }
  .custom-divide .column-3:first-child {
    order: 2;
  }
  .custom-divide .column-3:last-child {
    order: 3;
  }
  .custom-divide {
    row-gap: 20px;
  }
  .buyers-tabs ul {
    justify-content: center;
  }
  .profile-varification .nav-item .nav-link {
    padding: 15px 12px;
  }
  .profile-varification .nav-item .nav-link {
    height: 100%;
  }
  .contact-detail {
    padding: 15px;
  }
  .personal-information {
    padding: 20px;
  }
  .profile-data {
    gap: 12px;
  }
  .btn-green {
    max-width: 90px;
    padding: 14px 15px;
  }
  .user-dropdown .arrow-icon {
    margin-bottom: 17px;
  }
  .block-session>.upload-buyer{
    padding: 10px 15px;
  }
  .block-session>.upload-buyer p{
    display: none;
  }
  .deal_notifications_right {
      width: 100%;
      margin: 20px 0 0;
  }
  .deal_notifications_right .deal_notifications_btn {
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      flex-wrap: wrap;
  }
  .deal_notifications_right .deal_notifications_btn > li {
      margin: 0;
  }
  .pro_details h3 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .outline_btn{
    min-width: auto;
  }
  .seller-notification-box .seller-notification-title {
    width: calc(100% - 600px)
  }
  .seller-notification-box .seller-notification-list {
      width: 500px;
  }
  .seller-notification-box .seller-notification-view {
    width: 100px;
  }
  .header-left{
    gap: 20px;
  }
  .block-session>.boost_btn{
    padding: 0;
    background-color: transparent;
  }
}

@media (max-width: 991px) {
  .account-in {
    padding: 15px;
    margin-top: 20px;
  }
  .center-content h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .account-block .container-fluid {
    padding: 0 15px !important;
  }
  .session-img {
    display: none;
  }
  .w-70,
  .w-30 {
    width: 100%;
  }
  .card-box-light {
    padding: 30px;
  }
  .form-container {
    margin-top: 20px;
  }
  form.form-container.upload-multiple-data {
    margin-top: 0;
  }
  .modal-form-main .modal-dialog {
    max-width: 95% !important;
  }
  /* .card-box-blocks .row {
    row-gap: 18px;
  } */
  .personal-information {
    margin-bottom: 25px;
  }
  .component-group {
    justify-content: start;
    margin-top: 15px;
  }
  .card-box,
  .boost-box .card-box-inner {
    padding: 15px;
  }
  .priceby span {
    font-size: 18px;
  }
  .priceby {
    font-size: 23px;
  }

  .boost-box-block-item {
    flex-wrap: wrap;
    padding: 10px;
    row-gap: 10px;
  }
  .boost-headingwithicon {
    padding: 0;
  }
  .boost-box-block-item > * {
    padding: 0;
    max-width: 100% !important;
    flex: 100% !important;
    margin: 0;
    justify-content: center;
  }
  .boost-box-block-item .postion {
    border: 0;
  }
  .notifyinfo {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .renew-autorenew {
    padding: 7px;
  }
  .boost-box .card-box-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
  .contact-detail .component-group .dropdown-menu {
    z-index: 1;
  }
  .contact-detail .component-group .active-inactive .dropdown-menu {
    right: inherit !important;
  }
  .buyer-proinner .component-group .active-inactive .dropdown-menu:before {
    left: 30px;
  }
  .support-inner .card-box-blocks .row {
    row-gap: 0;
  }
  .inswittcher label{
    justify-content: flex-start;
    margin-top: 15px;
  }
  .inner-call-box .dropdown button::before{
    width: 152px;
  }
  .profile-varification .main-card-area .row .col-12:first-child{
    margin-bottom: 15px;
  }
  .renew-wrapper{
    border-left: none;
    padding-left: 0;
  }
  .contact-desc-box .row>.col-12.col-lg-4{
    margin-bottom: 0;
  }

  .user-dropdown .dropdown-menu{
    padding-top: 20px !important;
    min-width: 380px;
    right: 10px !important;
  }
  .user-dropdown .arrow-icon {
    margin-bottom: 17px;
  }
  .mobile_drop_top{
    gap: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile_drop_top .upload-buyer{
    margin: 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: rgba(245, 247, 249, 1);
    border-radius: 5px;
    text-align: center;
    flex: 0 0 calc(50% - 8px);
    padding: 12px;
  }
  .mobile_drop_top .upload-buyer-icon img{
    width: 20px;
    height: auto;
  }
  .mobile_drop_top .upload-buyer p{
    line-height: 19px;
    padding-top: 5px;
  }
  .mobile_drop_top .upload-buyer p b{
    display: block;
  }
  .top_icons_list .dropdown .dropdown-menu::after,
  .top_icons_list .dropdown .dropdown-menu::before{
    left: calc(100% - 30px);
  }
  .ad {
    margin: 0 0 10px;
  }
  .seller-notification-box {
    flex-wrap: wrap;
  }
  .seller-notification-box::before{display: none;}
  .seller-notification-box .seller-notification-title {
      width: 100%;
      position: relative;
  }
  .seller-notification-box .seller-notification-list {
      width: calc(100% - 140px);
      margin: 20px 0 0;
  }
  .seller-notification-box .seller-notification-view {
      width: 140px;
      margin: 20px 0 0;
  }
  .seller-notification-box .seller-notification-title::before {
    content: '';
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 7px;
    height: 7px;
    background-color: #3F53FE;
    border-radius: 50%;
  }
}
@media (max-width: 767px) {
  .account-block {
    padding: 20px 0;
  }
  .center-content img {
    margin-bottom: 20px;
    max-width: 180px;
  }
  .or {
    margin: 15px auto;
  }
  .form-group-btn {
    margin-top: 20px;
  }
  .gap-between {
    padding: 70px 0;
  }
  .back-fix {
    left: 0;
  }
  .header-logo img {
    max-width: 150px;
  }
  .grid-block-icon {
    max-width: 100px;
    height: 100px;
  }
  .grid-block-icon img {
    max-width: 55px;
  }
  .upload-buyer {
    padding: 10px;
    margin-right: 0;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }
  .grid-block-view h3 {
    margin: 10px 0 0;
  }
  .column--grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-box {
    padding: 20px;
  }
  .container>.card-box{
    padding-left: 10px;
    padding-right: 10px;
  }
  .feature-item-content {
    margin-bottom: 12px;
  }
  .property-critera {
    margin-top: 20px;
  }
  .modal-form-main .modal-body {
    padding: 30px 20px;
  }
  .custom-divide .column-3 {
    width: 100% !important;
  }
  .buyers-tabs .nav-link {
    min-width: unset;
  }
  .block-session .user-dropdown,
  .top_icons_list li>.dropdown{
    position: inherit;
  }
  .user-dropdown .dropdown-menu,
  .top_icons_list .dropdown .dropdown-menu{
    right: 0px !important;
    width: 100%;
    min-width: 100%;
    border-radius: 0 0 10px 10px;
    top: 67px !important;
  }
  .user-dropdown .dropdown-menu:before,
  .top_icons_list .dropdown-menu:before,
  .top_icons_list .dropdown-menu:after{
    display: none;
  }
  .block-session {
    gap: 7px;
  }
  .profile-varification .nav-item {
    max-width: 100%;
    flex: 100%;
  }
  #pills-application .card-box-blocks,
  .application-process,
  .profile-varification #pills-tabContent {
    padding: 20px;
  }
  .top_icons_list .dropdown .dropdown-menu{
    transform: inherit !important;
    inset: inherit !important;
    right: 0 !important;
    margin: 0;
    top: 67px !important;
  }
  .top_icons_list ul>li .list_numbers{
    top: inherit;
    right: inherit;
    transform: translate(23px, -34px);
  }
  /* >>>> Step form css <<<<<<< */
  /* .MuiStepper-root {
    flex-direction: column !important;
    align-items: flex-start !important;
  } */
  .MuiStepper-root .MuiStepLabel-iconContainer {
    padding-right: 0;
  }
  .MuiStepper-root .MuiStepLabel-labelContainer {
    display: none;
  }
  .profile-varification .main-card-area {
    padding: 20px;
  }
  .licenses-wrapper .upload-photo {
    padding: 15px;
  }
  .lic-detail-area .upload-img {
    height: auto !important;
  }
  .buyer-proinner .card-box {
    padding: 0;
  }
  .buyer-proinner .component-group {
    gap: 5px;
  }
  .buyer-proinner .component-group button {
    padding: 5px;
  }
  .buyer-proinner .component-group .active-inactive button .userimg,
  .buyer-proinner .component-group .field-box button .commentic {
    margin-right: 8px;
    padding-right: 8px;
  }
  .buyer-proinner .component-group .active-inactive button .userimg:before {
    right: 6px;
  }
  .buyer-proinner .component-group .account-check .btn,
  .buyer-proinner .component-group .premium-quality button {
    width: 40px;
  }
  .buyer-proinner .component-group .account-check .btn img {
    width: 25px;
  }
  .buyer-proinner .component-group .account-check .btn svg {
    width: 25px;
    height: 25px;
  }
  .profile-verification-st .cards{
    padding: 20px;
  }
  .add_buyer-right{
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-bottom: 10px;
  }
  .modetype,
  .buyer_seller_toggle,
  .top_icons_list{
    margin-right: 0;
  }

  .upload-buyer.bg-green{
    padding: 0;
  }
  .upload-buyer.bg-green .upload-buyer-icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(245, 247, 249, 1);
  }
  .user-dropdown>.btn{
    background-color: rgba(245, 247, 249, 1);
    padding: 3px;
    border-radius: 30px;
  }
  .user-dropdown .img-user{
    height: 28px;
    width: 28px;
    background-color: #fff;
    margin-right: 5px;
  }
  .user-dropdown .dropdown-data .welcome-user,
  .block-session .modetype .checkbox-label .txtmode{
    display: none !important;
  }
  .user-dropdown>.btn .arrow-icon{
    margin-bottom: 11px;
    margin-right: 5px;
  }
  .block-session .modetype .checkbox-label{
    width: 34px;
    height: 34px;
  }
  .block-session .modetype .checkbox-label .togglecontent .moon-icon{
    right: -1px;
  }
  .block-session .modetype .checkbox-label .ball{
    width: 26px;
    height: 26px;
    left: 3px;
    top: 3px;
  }
  .block-session .modetype .checkbox-label .togglecontent span.sun-icon{
    left: 1px;
  }
  [data-notifications]::before {
    content: attr(data-notifications) " ";
  }
  .settings .buyer_seller_toggle {
    display: flex;
    gap: 20px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .settings .deal_left_column {
    border-right: none;
    width: 100%;
  }
  .setting-card-body .setting-card-head-right {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    background: #f5f7f9;
    border-radius: 10px;
    margin: 15px 0 0;
    gap: 10px;
  }
  .setting-card-body {
    padding: 20px;
  }
  .setting-card-body .setting-card-head-right:before{display: none;}
  .deal_notifications_left>.pro_details {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px;
  }
  .pro_img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .deal_notifications_left .pro_img>img {
    height: 160px;
  }
  .deal_notifications_right {
    padding: 10px;
  }
  .space_modal {
    padding: 30px 20px;
  }
  .modal_inner_content h3 {
    font-size: 25px;
    line-height: 34px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .buy_modal_icon {
    width: 70px;
    height: 70px;
    line-height: 65px;
  }
  .buy_modal_icon img {
    max-width: 35px;
  }
  .seller-notification-box .seller-notification-list .seller-notification-col {
    width: auto;
    border-left: none;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(191, 204, 218, 0.19);
    -webkit-box-shadow: 6px 6px 20px rgba(191, 204, 218, 0.19);
    padding: 5px 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    gap: 5px;
    min-width: auto;
  }
  .seller-notification-box{padding: 10px;}
  .seller-notification-box .seller-notification-list {
    width: 100%;
    margin: 15px 0;
    gap: 10px;
    padding: 0;
    flex-wrap: wrap;
  }
  .seller-notification-box .seller-notification-view .btn-fill {
    margin-right: auto;
    margin-left: 0;
  }
  .seller-notification-box .seller-notification-list .seller-notification-col:last-child{border-right: none;}
  .seller-notification-box .seller-notification-title::before{display: none;}
  .seller-notification-card {
    padding: 15px;
    margin: 50px 0 0;
  }
  .seller-notification-list {
    width: calc(100% + 10px);
    padding-right: 5px;
  }
  .column_bg_space.setting-card>.deal_column.setting-card-head .setting-card-head-right {
    display: none;
  }
  .setting-card-body .deal_column.settings {
    flex-wrap: wrap;
  }
  .column_bg_space.setting-card>.deal_column.setting-card-head {
    padding: 20px;
  }
  .container>.card-box.setting-card {
    padding: 0;
  }
  .top_icons_list .mobile-header-list{
    gap: 7px;
  }
  .seller-notification-box .seller-notification-view{
    margin-top: 0;
  }
  .pro_deal_table table thead th{
    min-width: 170px;
  }
}

@media (max-width: 575px) {
  .boost-box .card-box-inner {
    grid-template-columns: 1fr;
  }
  .copyright-text {
    font-size: 12px;
  }
  .user-name-title {
    font-size: 12px;
    line-height: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
  }
  .header-logo img {
    max-width: 120px;
  }
  .upload-buyer {
    padding: 0;
  }
  .welcome {
    font-size: 10px;
    margin-bottom: 3px;
  }
  .img-user {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
  .link-pass {
    justify-content: left;
    margin-top: 10px;
  }
  .form-group {
    margin-bottom: 18px;
  }
  .column--grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .copy-link {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: unset;
  }
  .card-box-inner p {
    margin-bottom: 10px;
  }
  .card-box-light {
    margin: 20px auto 0;
  }
  .card-box-light {
    padding: 18px;
  }
  .price-pc {
    line-height: 30px;
    font-size: 20px;
  }
  .feature-item-content {
    display: block;
    line-height: 30px;
  }
  .popup-icon {
    border: 6px solid #3f53fe;
    width: 80px;
    height: 80px;
  }
  .popup-icon svg {
    max-height: 33px;
  }
  .critera-card {
    max-width: 100%;
  }
  .property-critera-details {
    padding-left: 0;
    max-width: 100%;
    margin-top: 18px;
  }
  .property-critera-block {
    display: block;
    background-position: 98% 86%;
    background-size: 85px;
    padding-bottom: 40px;
  }
  .cornor-block {
    /* position: unset; */
    justify-content: center;
  }
  .account-in {
    max-width: 100%;
  }
  .user-dropdown .arrow-icon {
    margin-bottom: 7px;
  }
  .back-block {
    padding: 10px;
  }
  .ac-de-feeture:before{
    top: calc(50% - 1px);
  }
}
@media (max-width: 480px) {
  .account-with-social > li {
    max-width: 100%;
    flex: 100%;
  }
  .account-with-social a {
    justify-content: center;
  }
  .upload-buyer {
    height: auto;
  }
  /* .upload-buyer.bg-green {
    display: none;
  } */
  /* .dashboard-header .block-session .modetype{
    margin-right: 0;
    position: absolute;
    top: 70px;
    z-index: 9;
  } */
  .pat-40{
    padding-top: 40px;
  }
}

@media screen and (max-width: 400px) {
  .lic-detail-area .upload-img {
    width: 100% !important;
  }
  .header-logo img {
    max-width: 105px;
  }
  .settings .list_icon {
      max-width: 35px;
  }
  .settings .list_icon img{
      max-width: 100%;
  }
  .settings .pro_details h3 {
      font-size: 16px;
  }
  [data-notifications]::before {
    font-size: 14px;
  }
}
